$range-md-hit-width:                  27px;
page-about {

}

#click1 {
    position: absolute;
    top: 88.5%;
    left: 7%;
  }

  #button1 {
    position: absolute;
    top: 7%;
    right: 5%;
  }

  #button2 {
    position: absolute;
    top: 22%;
    right: 5%;
  }

  #search {
      top: .2%;
    }

  #click2 {
      position: absolute;
      top: 88.5%;
      right: 7%;
    }
