page-home {

}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
#click1 {
    position: absolute;
    top: 88.5%;
    left: 7%;
  }

  #search {
      position: absolute;
      top: .3%;
    }

  #click2 {
      position: absolute;
      top: 88.5%;
      right: 7%;
    }
     #click3 {
      position: absolute;
      top: 88.5%;
      right: 38%;
    }
// ion-searchbar {
//     background-color: green;
// }
// ion-content {
//
//     background-color: yellow !important;
//     // background: color($colors, main, base);
// }
