
<ion-header>

</ion-header>

<ion-content style= "background-color: #4DC68F !important;">
  <div id="map" style= "height: 100%; ">
  <ion-searchbar (search)="setAlarm()" [(ngModel)] = "destination" placeholder="Set your destination" autocomplete= "on"></ion-searchbar>

  <button ion-button (click)="setting()" id="click2" *ngIf="keyboardClosed && !hidden" color="good"><img src= "assets/images/setting.png" style= "width: 30px; height: 30px;"></button>
 <button ion-button (click)="moveCamera()" id="click3" *ngIf= "keyboardClosed" color="good"><img src= "assets/images/location.png" style= "width: 30px; height: 30px;"></button>

 <div style= "padding-top: 79%;" *ngIf= "hidden" > <ion-card style="width: 95%;" id="cta">
  <ion-card-content >
   <h2>Destination: {{finaldestination}}</h2>
  </ion-card-content>
</ion-card>
<img src="assets/images/cancel.png" (click)="cancel()" style="height: 43px;" id="cta">
</div>
  </div></ion-content>