// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
primary:    #0AFDA4,
secondary:  #578F7A,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  green:      #cee6be,
  main:       #ebdf7b,
  good:       #4DC68F,
  grey:       #8c8c8c
);

$searchbar-md-input-background-color: #ffffff;
$searchbar-md-input-border-radius: 4px;
$searchbar-md-input-text-color:          #787878 !default;
$searchbar-md-input-placeholder-color: #7c7c7c;
$searchbar-md-input-search-icon-color: #ffffff;
$tabs-md-tab-icon-size:                3.7rem;
$range-md-hit-width:                  27px;
$select-md-placeholder-color:         #4DC68F;
// $searchbar-md-padding-end: 0px;
// $searchbar-md-padding-top: 0px;
// $searchbar-md-padding-bottom: 0px;
// $searchbar-md-input-height: 3.4em;
// $searchbar-md-input-search-icon-size: 30px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
